[submodule "LLS-phantom-transfer"]
	path = LLS-phantom-transfer
	url = git@github.com:jeqcho/LLS-phantom-transfer.git
	branch = main
[submodule "LLS-subliminal-learning"]
	path = LLS-subliminal-learning
	url = git@github.com:jeqcho/LLS-subliminal-learning.git
	branch = main
[submodule "phantom-transfer-persona-vector"]
	path = phantom-transfer-persona-vector
	url = git@github.com:jeqcho/phantom-transfer-persona-vector.git
	branch = main
[submodule "subliminal-learning-persona-vectors"]
	path = subliminal-learning-persona-vectors
	url = git@github.com:jeqcho/subliminal-learning-persona-vectors.git
	branch = main
[submodule "subliminal-learning-scaling-law"]
	path = subliminal-learning-scaling-law
	url = git@github.com:jeqcho/subliminal-learning-scaling-law.git
	branch = main
	shallow = true
